body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1300px;
    margin:auto;
  }
  .container {
    width: 100%;
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
  }
  nav div {
    display: inline-block;
  }
  nav {
    display: grid;
    grid-template-columns: 55% auto;
  } 
  nav.right {
      display: grid;
      grid-template-columns: auto auto auto auto;
  }
  a {
      max-width: 100%;
      text-decoration: none;
      font-size: 15px;
      margin: auto;
  }
  .thongtin {
      display: grid;
  }
  .thongtin h3 {
    font-size: 18px;
  }
  .row img {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      width: 100%;
      margin-top: 13px;
      border-radius: 10px;
      margin-top: auto;
      margin-right: auto;
    }  
  
    /* For mobile phones: */
  .navbar-brand {
      padding-left: 0px;
  }
  .textbanner {
      top: 0px;
      left: 5%;
      color: #daf6ff;
  }
  .textbanner h1{
      font-size: 24px;
  }
  .textbanner p {
      top: 30px;
      left: 0px;
      font-size: 13px;
  }  
  .row {
    padding-left: 20px;
  }
  
  @media only screen and (min-width: 768px) {
    
      /* For tablets: */
  .textbanner {
        top: 0px;
        left: 16%;
      }
  .textbanner h1{
        font-size: 2.0em;
      }
  .textbanner p {
        top: 40px;
        left: 25px;
        font-size: 16px;
      }
  }
  .row {
    padding-left: 20px;
  }
  @media only screen and (min-width: 987px) {
    
  /* For desktop: */
    
    .textbanner {
      left: 25%;
    }
  }