.body {
    max-width: 1320px;
    font-size: medium;
    margin: auto;
}

.container {
width: 100%;
max-width: 810px;
padding: 0;
margin: 0 auto;
}

.container menu {
    margin: auto;
    max-width: 810px;
    padding: 0;
}

.navbar div {
    display: inline-block;
}
.navbar {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.navbar-right{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    text-align: center;
}

.a {
    max-width: 100%;
    text-decoration: none;
    margin: auto;
}

.row img {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    margin-top: auto;
    margin-right: auto;
    border-radius: 10px;
}
.row-text {
    display: grid;
    grid-template-columns: 70% 30%;
}
/* For mobile phones: */
.navbar-brand {
    padding-left: 0px;
}
.text {
    top: 0px;
    left: 5%;
    color: #b2e2f3;
}
.text position-relative h1{
    font-size: 24px;
}
.text position-relative p {
    top: 30px;
    left: 0px;
    font-size: 13px;
}  
.row {
  padding-left: 20px;
}
    @media only screen and (min-width: 768px) {
/* For tablets: */
    body {
    background-color: white;
    }
    }
    .textimg {
        top: 0px;
        left: 16%;
      }
  .textimg h1{
        font-size: 2.0em;
        color: #394bd8;
      }
  .textimg p {
        top: 40px;
        left: 25px;
        font-size: 16px;
        color: #daf6ff;
      }
  }
  .row {
    padding-left: 20px;
  }
    @media only screen and (min-width: 987px) {
 /* For desktop: */
    body {
    background-color: rgb(190, 246, 178);
    }
    }
    </style>
    .textimg {
        left: 25%;
      }
    }
    
