.body {
    max-width: 1300px;
    font-size: medium;
    margin: auto;
    align-items: center;
}

.container {
margin: auto;
width: 100%;
max-width: 800px;
padding: auto;
}

.container menu {
    margin: auto;
    max-width: 900px;
}

.nav div {
    display: inline-block;
}
.nav {
    display: grid;
    grid-template-columns: 50% auto;
}
.nav.right{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.row img {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    margin-top: auto;
    margin-right: auto;
    border-radius: 10px;
}
.row-text {
    display: grid;
    grid-template-columns: 70% 30%;
}
/* For mobile phones: */
body {
    margin-right: 50%;
    padding: auto;
    background-color: rgb(176, 81, 81);
    }
    @media only screen and (min-width: 768px) {
/* For tablets: */
    body {
    background-color: white;
    }
    }
    @media only screen and (min-width: 987px) {
 /* For desktop: */
    body {
    background-color: rgb(206, 235, 199);
    }
    }
    </style>
    
